@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans Semi Bold';
  src: url('./assets/fonts/WorkSans-SemiBold.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans Bold';
  src: url('./assets/fonts/WorkSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  background: #F9F9F9;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: #fff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(129, 129, 129, 0.75);
}

#app {
  width: 100%;
}

@media screen and (max-width: 60rem) {

  /* 950px */
  :root {
    font-size: 14px;
  }
}