@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans Semi Bold';
  src: url('./assets/fonts/WorkSans-SemiBold.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans Bold';
  src: url('./assets/fonts/WorkSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
